**EJERCICIOS** 

- 1Ô∏è‚É£ Haz una descipci√≥n estad√≠stica de nuestro dataframe usando sidetable sobre las columnas `type` y `listed_in`.  
    - Qu√© tipo de t√≠tulos es m√°s com√∫n en nuestro dataframe. 
    
    - Cuando filtres por `listed_in`, devuelve solo las que formen el 70% de los datos
    
    - Agrupa por `listed_in` y `type` sacando unicamente los datos que compongan el 40% de los datos. 
    
    - Qu√© porcentaje de nulos tenemos
    
    üìåDespu√©s de sacar los resultados, debate con tu compa√±era la interpretaci√≥n de los resultados obtenidos.

In [1]:
import pandas as pd
import sidetable

In [2]:
df = pd.read_csv("datos/netflix_titles.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,positive_ratings,negative_ratings
0,80190990.0,Movie,Todo Sobre El Asado,"Mariano Cohn, Gast√≥n Duprat",El Negro √Ålvarez,Argentina,"September 1, 2017",2016,TV-14,86 min,"Documentaries, International Movies",This quirky examination of Argentina's culture...,14958.0,4377.0
1,81084225.0,Movie,Grego Rossello: Disculpe las molestias,Juani Libonatti,Grego Rossello,Argentina,"October 31, 2019",2019,TV-MA,65 min,Stand-Up Comedy,Argentine comedian Grego Rossello takes the st...,20548.0,6663.0
2,81105406.0,TV Show,Monz√≥n: A Knockout Blow,NaN,"Jorge Rom√°n, Mauricio Paniagua, Carla Quevedo,...",Argentina,"October 25, 2019",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",This dramatization tells the story of Argentin...,22810.0,9382.0
3,81105522.0,TV Show,No Time for Shame,NaN,Santiago Artemis,Argentina,"November 19, 2019",2019,TV-MA,1 Season,"International TV Shows, Reality TV, Spanish-La...","Follow Santiago Artemis, a Buenos Aires fashio...",13997.0,8113.0
4,81162089.0,Movie,GO! The Unforgettable Party,Mauro Scandolari,"Pilar Pascual, Jos√© Gimenez Zapiola, Renata To...",Argentina,"November 15, 2019",2019,TV-PG,60 min,"Children & Family Movies, Music & Musicals",M√≠a's vacation with her dad is disrupted by th...,18527.0,5880.0

In [3]:
# 1Ô∏è‚É£ Haz una descipci√≥n estad√≠stica de nuestro dataframe usando sidetable.

df.stb.freq(["type"])

      type  count   percent  cumulative_count  cumulative_percent
0    Movie   4052  70.61694              4052            70.61694
1  TV Show   1686  29.38306              5738           100.00000

In [4]:
df.stb.freq(["listed_in"], thresh = 60)

C:\Users\agarc\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sidetable\sidetable.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results = results[results[other_label] == False].append(

,listed_in,count,percent,cumulative_count,cumulative_percent
0,Documentaries,289,5.036598,289,5.036598
1,Stand-Up Comedy,248,4.322063,537,9.358662
2,"Dramas, International Movies",235,4.095504,772,13.454165
3,"Dramas, Independent Movies, International Movies",182,3.171837,954,16.626002
4,"Comedies, Dramas, International Movies",169,2.945277,1123,19.571279
5,"Documentaries, International Movies",133,2.317881,1256,21.889160
6,Kids' TV,130,2.265598,1386,24.154758
7,"Children & Family Movies, Comedies",119,2.073893,1505,26.228651
8,"Comedies, International Movies",111,1.934472,1616,28.163123
9,"Dramas, International Movies, Romantic Movies",106,1.847334,1722,30.010457
10,"Action & Adventure, Dramas, International Movies",102,1.777623,1824,31.788079
11,Children & Family Movies,99,1.725340,1923,33.513419
12,"Comedies, International Movies, Romantic Movies",96,1.673057,2019,35.186476
13,"Dramas, International Movies, Thrillers",90,1.568491,2109,36.754967
14,Dramas,86,1.498780,2195,38.253747
15,"Crime TV Shows, International TV Shows, TV Dramas",79,1.376786,2274,39.630533
16,"Comedies, Dramas, Independent Movies",76,1.324503,2350,40.955037
17,"Action & Adventure, International Movies",74,1.289648,2424,42.244685
18,Comedies,72,1.254793,2496,43.499477
19,"Dramas, Independent Movies",68,1.185082,2564,44.684559
20,Action & Adventure,68,1.185082,2632,45.869641
21,"Kids' TV, TV Comedies",63,1.097944,2695,46.967585
22,"Anime Series, International TV Shows",59,1.028233,2754,47.995817
23,Docuseries,56,0.975950,2810,48.971767
24,"Action & Adventure, Comedies, International Mo...",56,0.975950,2866,49.947717
25,"Dramas, Thrillers",54,0.941094,2920,50.888811
26,TV Comedies,51,0.888811,2971,51.777623
27,"International TV Shows, TV Dramas",50,0.871384,3021,52.649007
28,"International TV Shows, Korean TV Shows, Roman...",49,0.853956,3070,53.502963
29,"International TV Shows, Romantic TV Shows, TV ...",48,0.836528,3118,54.339491
30,"International TV Shows, Romantic TV Shows, TV ...",48,0.836528,3166,55.176020
31,"Action & Adventure, Sci-Fi & Fantasy",48,0.836528,3214,56.012548
32,"Horror Movies, International Movies",47,0.819101,3261,56.831649
33,"Documentaries, Sports Movies",46,0.801673,3307,57.633322
34,"Crime TV Shows, International TV Shows, Spanis...",43,0.749390,3350,58.382712
35,"Comedies, Romantic Movies",43,0.749390,3393,59.132102
36,Reality TV,42,0.731962,3435,59.864064
37,others,2303,40.135936,5738,100.000000

In [5]:
df.stb.freq(["listed_in", 'type'], thresh = 40)

C:\Users\agarc\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sidetable\sidetable.py:151: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results = results[results[other_label] == False].append(

,listed_in,type,count,percent,cumulative_count,cumulative_percent
0,Documentaries,Movie,289,5.036598,289,5.036598
1,Stand-Up Comedy,Movie,248,4.322063,537,9.358662
2,"Dramas, International Movies",Movie,235,4.095504,772,13.454165
3,"Dramas, Independent Movies, International Movies",Movie,182,3.171837,954,16.626002
4,"Comedies, Dramas, International Movies",Movie,169,2.945277,1123,19.571279
5,"Documentaries, International Movies",Movie,133,2.317881,1256,21.889160
6,Kids' TV,TV Show,130,2.265598,1386,24.154758
7,"Children & Family Movies, Comedies",Movie,119,2.073893,1505,26.228651
8,"Comedies, International Movies",Movie,111,1.934472,1616,28.163123
9,"Dramas, International Movies, Romantic Movies",Movie,106,1.847334,1722,30.010457
10,"Action & Adventure, Dramas, International Movies",Movie,102,1.777623,1824,31.788079
11,Children & Family Movies,Movie,99,1.725340,1923,33.513419
12,"Comedies, International Movies, Romantic Movies",Movie,96,1.673057,2019,35.186476
13,"Dramas, International Movies, Thrillers",Movie,90,1.568491,2109,36.754967
14,Dramas,Movie,86,1.498780,2195,38.253747
15,"Crime TV Shows, International TV Shows, TV Dramas",TV Show,79,1.376786,2274,39.630533
16,others,others,3464,60.369467,5738,100.000000

In [6]:
# nulos

df.stb.missing()

                  missing  total    percent
director             1663   5739  28.977174
cast                  486   5739   8.468374
date_added             10   5739   0.174246
rating                  7   5739   0.121972
negative_ratings        2   5739   0.034849
show_id                 1   5739   0.017425
type                    1   5739   0.017425
title                   1   5739   0.017425
country                 1   5739   0.017425
release_year            1   5739   0.017425
duration                1   5739   0.017425
listed_in               1   5739   0.017425
description             1   5739   0.017425
positive_ratings        1   5739   0.017425